* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Barlow Condensed', sans-serif;
  color: #F5F7F7;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-size: 24px;
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  -webkit-transform: translate(15%, -300%);
          transform: translate(15%, -300%);
  -webkit-transition: .8s ease;
  transition: .8s ease;
  background-color: #F5F7F7;
}

.link:hover {
  opacity: 0.5;
}

.link:hover::after {
  width: 80%;
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
}

h2 {
  font-size: 72px;
  line-height: 110%;
}

h3 {
  font-size: 40px;
  line-height: 120%;
}

h4 {
  font-size: 32px;
  line-height: 130%;
}

h5 {
  font-size: 24px;
  line-height: 140%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

.mask {
  background: linear-gradient(255deg, #2DC7ED 0%, #538BF0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #050607;
}

header {
  width: auto;
}

.border {
  border: 1px solid red;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 16px;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  border: 1px solid green;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-item:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.container-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-item:nth-child(2) img {
  max-width: 400px;
}
/*# sourceMappingURL=style.css.map */